/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.devcontainer/devcontainer.json
.devcontainer/Dockerfile
.editorconfig
.gitattributes
.styleci.yml
app/Console/Kernel.php
app/Exceptions/Handler.php
app/Http/Controllers/AnggotaController.php
app/Http/Controllers/Auth/ConfirmPasswordController.php
app/Http/Controllers/Auth/ForgotPasswordController.php
app/Http/Controllers/Auth/LoginController.php
app/Http/Controllers/Auth/RegisterController.php
app/Http/Controllers/Auth/ResetPasswordController.php
app/Http/Controllers/Auth/VerificationController.php
app/Http/Controllers/BukuController.php
app/Http/Controllers/CetakLaporanController.php
app/Http/Controllers/Controller.php
app/Http/Controllers/HomeController.php
app/Http/Controllers/KategoriController.php
app/Http/Controllers/PengembalianController.php
app/Http/Controllers/ProfileController.php
app/Http/Controllers/RiwayatPinjamController.php
app/Http/Kernel.php
app/Http/Middleware/Authenticate.php
app/Http/Middleware/EncryptCookies.php
app/Http/Middleware/PreventRequestsDuringMaintenance.php
app/Http/Middleware/RedirectIfAuthenticated.php
app/Http/Middleware/TrimStrings.php
app/Http/Middleware/TrustHosts.php
app/Http/Middleware/TrustProxies.php
app/Http/Middleware/VerifyCsrfToken.php
app/Models/Buku.php
app/Models/Kategori.php
app/Models/Peminjaman.php
app/Models/Profile.php
app/Models/User.php
app/Providers/AppServiceProvider.php
app/Providers/AuthServiceProvider.php
app/Providers/BroadcastServiceProvider.php
app/Providers/EventServiceProvider.php
app/Providers/RouteServiceProvider.php
artisan
bootstrap/app.php
composer.json
composer.lock
config/app.php
config/auth.php
config/broadcasting.php
config/cache.php
config/cors.php
config/database.php
config/dompdf.php
config/filesystems.php
config/hashing.php
config/logging.php
config/mail.php
config/queue.php
config/sanctum.php
config/services.php
config/session.php
config/sweetalert.php
config/view.php
database/factories/UserFactory.php
database/migrations/2014_10_12_000000_create_users_table.php
database/migrations/2014_10_12_100000_create_password_resets_table.php
database/migrations/2019_08_19_000000_create_failed_jobs_table.php
database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
database/migrations/2022_10_01_082706_create_kategori_table.php
database/migrations/2022_10_01_163210_create_buku_table.php
database/migrations/2022_10_18_021326_create_profile_table.php
database/migrations/2022_11_01_074316_create_kategori_buku_table.php
database/migrations/2022_11_15_000415_create_riwayat_pinjam_table.php
database/seeders/DatabaseSeeder.php
package-lock.json
package.json
phpunit.xml
public/.htaccess
public/css/app.css
public/css/style.css
public/favicon.ico
public/images/1668836063.jpg
public/images/1668836092.jpg
public/images/1668836405.png
public/images/1668836427.jpg
public/images/1668836450.jpg
public/images/1668836553.jpg
public/images/1668840941.jpg
public/images/1668841011.jpg
public/images/1668841171.jpg
public/images/1668849770.jpg
public/images/1668850708.jpg
public/images/1668851655.jpg
public/images/1717470917.jpg
public/images/1717768583.jpg
public/images/1718460902.jpg
public/images/1718460988.jpg
public/images/1718461027.jpg
public/images/1718461071.jpg
public/images/noImage.jpg
public/images/photoProfile/1668849624.png
public/images/photoProfile/1668850006.png
public/images/photoProfile/1668850234.png
public/images/photoProfile/1668850371.png
public/images/photoProfile/1668850574.png
public/images/photoProfile/1668851274.png
public/images/photoProfile/1668851520.png
public/images/photoProfile/1719148252.png
public/images/photoProfile/boy.png
public/img/buku/220px-Marmut_Merah_Jambu.jpg
public/img/buku/2b829f13b0072dfcdd239370eab12686.jpeg
public/img/buku/7d38a7c9-87c4-40d9-a6e3-03738486efd1.jpg
public/img/buku/boy.png
public/img/buku/dilan.jpeg
public/img/buku/download.png
public/img/buku/Harry_Potter_and_the_Sorcerer's_Stone.jpg
public/img/buku/Hujan.jpg
public/img/buku/Laskar_Pelangi_film.jpg
public/img/buku/LaskarPelangi.webp
public/img/buku/Minggu 2-Materi DBMS Lanjut-MySQL Views.pdf
public/img/buku/rba-007--.jpg
public/img/buku/submission_20_20_coverImage_en_US_t.jpg
public/img/buku/TheLordsOfTheRings.jpg
public/img/buku/USB_YPKP_Logo.png
public/img/erd.jpeg
public/img/erd.png
public/img/gajayana.png
public/img/homePetugas.png
public/img/logo.png
public/img/reading-side.png
public/img/undraw_summer_1wi4.png
public/index.php
public/js/app.js
public/mix-manifest.json
public/robots.txt
public/vendor/sweetalert/sweetalert.all.js
README.md
resources/css/app.css
resources/js/app.js
resources/js/bootstrap.js
resources/lang/en/auth.php
resources/lang/en/pagination.php
resources/lang/en/passwords.php
resources/lang/en/validation.php
resources/sass/_variables.scss
resources/sass/app.scss
resources/views/AdminDashboard.blade.php
resources/views/anggota/detail.blade.php
resources/views/anggota/edit.blade.php
resources/views/anggota/tambah.blade.php
resources/views/anggota/tampil.blade.php
resources/views/AnggotaDashboard.blade.php
resources/views/auth/login.blade.php
resources/views/auth/passwords/confirm.blade.php
resources/views/auth/passwords/email.blade.php
resources/views/auth/passwords/reset.blade.php
resources/views/auth/register.blade.php
resources/views/auth/verify.blade.php
resources/views/buku/detail.blade.php
resources/views/buku/edit.blade.php
resources/views/buku/tambah.blade.php
resources/views/buku/tampil.blade.php
resources/views/home.blade.php
resources/views/Kategori/detail.blade.php
resources/views/Kategori/edit.blade.php
resources/views/Kategori/tambah.blade.php
resources/views/Kategori/tampil.blade.php
resources/views/layouts/app.blade.php
resources/views/layouts/master.blade.php
resources/views/layouts/welcome.blade.php
resources/views/part/sidebar.blade.php
resources/views/part/topbar.blade.php
resources/views/peminjaman/laporan_pdf.blade.php
resources/views/peminjaman/tambah.blade.php
resources/views/peminjaman/tampil.blade.php
resources/views/pengembalian/pengembalian.blade.php
resources/views/profile/edit.blade.php
resources/views/profile/tampil.blade.php
resources/views/vendor/sweetalert/alert.blade.php
routes/api.php
routes/channels.php
routes/console.php
routes/web.php
server.php
tests/CreatesApplication.php
tests/Feature/ExampleTest.php
tests/TestCase.php
tests/Unit/ExampleTest.php
webpack.mix.js
